<!DOCTYPE html>
<html>
  <head>
    <title>Chat with Derbot</title>
    <link href="https://fonts.font.im/css?family=Do+Hyeon" rel="stylesheet" />
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div id="border">
      <div id="border-upper-region">
        <h1 id="title" onclick="handleTitleClick()">Derbot</h1>
      </div>
      <div id="chat-container">
        <div id="chat-history"></div>
        <div id="user-input">
          <textarea
            id="content"
            name="content"
            rows="5"
            placeholder="Type your message here..."
          ></textarea>
          <div id="buttons-container">
            <button id="clear-button" class="small-button">🗑️</button>
            <button id="attach-button" class="small-button">📎</button>
            <button id="send-button" class="small-button">➡️</button>
          </div>
        </div>
      </div>
    </div>
    <script src="static/script.js"></script>
  </body>
</html>
