<!DOCTYPE html>
<html>
  <head>
    <title>Chat with Derbot</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div id="border">
      <div id="border-upper-region">
        <h1 id="title" onclick="handleTitleClick()">Derbot</h1>
      </div>
      <div id="chat-container">
        <div id="chat-history"></div>
        <div id="user-input">
          <button id="clear-button" class="small-button">Clear</button>
          <textarea
            id="content"
            name="content"
            rows="5"
            placeholder="Type your message here..."
          ></textarea>
          <button id="send-button" class="small-button">Send</button>
        </div>
      </div>
    </div>
    <script src="static/script.js"></script>
  </body>
</html>
